.hello {
  margin: 10px;
}
.hello .there {
  padding: 10px;
}
.hello.yeah #there {
  color: #09c;
}
.hello.yeah #where {
  box-shadow: 10px 10px #09c;
}
.yeah .hello {
  background: #09c;
}
.yeah.hello {
  background: #09c;
}
.yeah.hello .nope {
  user-select: none;
}
